  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 23px;
  }
  .heading2
  {
    float: none;
    padding: 10px;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading3
  {
    font-size: 18px ;
  }
  .result_para
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  .result_para span{
    white-space: pre-line;
  }
  .copy_right_footer{
    position: fixed;
    color:red ;
    bottom: 0;
    width: 100%;
    background-color: blueviolet;
    line-height: 3;
    text-align: center;
  }
 
canvas{
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
    margin-top: 160px;
  }